<%= form_for @issue do |f| %>

<% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:
      </h2>
      <ul>
        <% @issue.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
    
  <div>
    <%= f.label :name %>
    <%= f.text_field :issue_name %>
  </div>
  
  <div>
    <%= f.label :date_started %>
    <%= f.date_field :date_started %>
  </div>
  
  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes, size: '60x6' %>
  </div>
  
  <div class="field">
    <br><%= f.label "Please select all relevant symptoms and/or add any additional symptoms related to this issue." %><br />
    <%= f.collection_check_boxes :symptom_ids, Symptom.all, :id, :symptom_name do |b| %>
      <p>
        <%= b.check_box %>
        <%= b.label %>
      </p>
    <% end %>
    
    <%= f.fields_for :symptoms, Symptom.new do |symptoms_fields| %> 
      <%= symptoms_fields.label :symptom_name %>
      <%= symptoms_fields.text_field :symptom_name %><br />
    <% end %>
    
    <div class="field">
      <%= f.fields_for :issue_medications do |mf| %>
        <%= mf.label "date medication began" %>
        <%= mf.date_field :date_med_started %><br />
  
        <%= mf.fields_for :medications_attributes do |m| %>
          <%= m.label :medication_name %>
          <%= m.text_field :medication_name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>