
<h1>List of Issues</h1>
<p>Below is a list of your current health issues. Feel free to review, or add a new issue if needed.</p>

<table class='highlight'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Started</th>
    </tr>
  </thead>

  <% @issues.each do |issue| %>
    <tbody>
      <tr>
        <td><%= issue.issue_name %></td>
        <td><%= issue.date_started.to_s(:long) %></td>
        <td>
          <button class="waves-effect btn-flat"><%= link_to 'Show', issue %></button>
          <button class="waves-effect btn-flat"><%= link_to 'Edit', edit_issue_path(issue)%></button>
          <button class="waves-effect btn-flat"><%= link_to 'Delete', issue, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
    </tbody>
    <% end %>
</table>
<button class="btn waves-effect" type="submit" name="action">
  <%= link_to 'New Issue', new_issue_path %>
</button>
