Here's that issue you wanted to see!
<h1><%= @issue.issue_name %></h1>

<!-- <h3>Issue</h3>
<p><%= @issue.issue_name %></p> -->

<h3>Issue Date</h3>
<p><%= @issue.date_started %></p>

<h3>Notes</h3>
<p><%= @issue.notes %></p>

<h3>Symptoms</h3>
<p>
  <% @issue.symptoms.each do |s| %>
       <%= s.symptom_name %>
  <% end %>
</p>
<!-- <p>
  <%= @issue.medication %>
</p> -->

<%= link_to 'Go Back', issues_path %>