Here's that issue you wanted to see!
<h1><%= @issue.issue_name %></h1>

<!-- <h3>Issue</h3>
<p><%= @issue.issue_name %></p> -->

<h3>Issue Date</h3>
<p><%= @issue.date_started %></p>

<h3>Notes</h3>
<p><%= @issue.notes %></p>

<h3>Symptoms</h3>
<p>
  <% @issue.symptoms.each do |s| %>
  <li>
    <%= s.symptom_name %>
  </li>
  <% end %>
</p>
<h3>Medications should go here</h3>
<p>
  <% @issue.medications.each do |m| %>
    <%= m.medication_name %>
<!--     
    <% @issue.issue_medications.each do |i| %>
      <%= i.first_taken %>
      <%= i.dosage %>
      <%= i.frequency %>
    <% end %>   -->
  <% end %>
</p>

<%= link_to 'Go Back', issues_path %>