MedicationsController#index
<h1>List of Medication</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date Started</th>
  </tr>

  <% @medications.each do |medication| %>
    <tr>
      <td>
        <%= medication.medication_name %>
      </td>
      <td>
        <% medication.issue_medications.each do |d| %>
          <%= d.date_med_started %>
       </td>
      </tr>
      <% end %>
    <% end %>
</table>

<%= link_to 'New Medication', new_medication_path %>
<%= link_to "All Issues", issues_path %>
<%= link_to 'New Issue', new_issue_path %>

