<!DOCTYPE html>
<html>
  <head>
    <title>EhmTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  </header>
  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <div class='content'>
      <ul class="hmenu">
        <li><%= link_to "Home", issues_path %></li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
    </ul>
      <%= yield %>
    </div>
  </body>
</html>
