<!DOCTYPE html>
<html>
  <head>
    <title>EhmTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  </header>
  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <div class='container'>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">eHM Track</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Home", issues_path %></li>
            <% if current_user %>
              <li><%= link_to "Your Medications", medications_path(current_user) %></li>
            <% end %>  

            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
